<!doctype html>
<html>
<head>
  <title>Nicoplay for Chrome Extention</title>
  <style>
    body {
      min-width: 400px;
      overflow-x: hidden;
    }
    img {
      margin: 5px;
      border: 2px solid black;
      vertical-align: middle;
      width: 75px;
      height: 75px;
    }
  </style>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
  <div id="container">
    <script type="text/template" id="list">
      <% for (var item in list) { %>
        <li>
          <%= list[item].title %>
          <button class="select" value="<%= item %>">play</button>
        </li>
      <% }; %>
    </script>
    <div id="playlist"></div>
    <div id="indicator"></div>

    <script type="text/template" id="parts">
      <span id="back">back</span>
      <span id="prev">prev</span>
      <span id="play"><%= togglePlay %></span>
      <span id="next">next</span>
      <span id="shuffle">shuffle</span>
    </script>
    <div id="control"></div>
  </div>
  <script data-main="../js/app/frontend_main.js" src="../js/libs/require/require.js"></script>
</body>
</html>
